<h1>Symptoms</h1>

<%= form_with(model: @new_symptom, url: symptoms_path, method: :post, remote: true) do |form| %>
  <div class="cont" data-controller="controller">
    <div class="field">
      <%= form.label :description, class: "lab" %>
      <%= form.text_field :description, class: "inp", placeholder: "Fever" %>
    </div>

    <div class="field">
      <%= form.label :start_date, class: "lab" %>
      <%= form.datetime_local_field :start_date, class: "inp", id: "date-started" %>
    </div>

    <div class="field">
      <%= form.label :end_date, class: "lab" %>
      <%= form.datetime_local_field :end_date, class: "inp", id: "date-finished" %>
    </div>

    <div class="actions">
      <%= form.submit "Add", class: "btn", id: "submit" %>
    </div>
  </div>
<% end %>


<ul>
  <% @symptoms.each do |symptom| %>
    <li>
      <div id="symptom_<%= symptom.id %>">
        <span class="symptom-description"><%= symptom.description %></span>
        <span class="symptom-date"><%= symptom.start_date %></span>
      </div>
      <div class="symptom-actions">
        <%= form_with(model: symptom, url: symptom_path(symptom), method: :delete, remote: true, class: "delete-form") do |delete_form| %>
          <%= delete_form.submit "Delete", class: "delete-link", onclick: "return confirm('Are you sure?');" %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
