
<div class="mf-container" >
 <h1>  <img src="/assets/patient sheet.png"> Patient sheet </h1>
 <%= form_with(model:  @patient_sheet, url: patient_sheet_index_path, method: :post) do |form| %>
 <div class="mf-infos">
  <div>
    <%= form.label :blood_type, 'blood type *', class: "label" %>
    <%= form.select :label, [['A+', 'A+'], ['A-', 'A-'], ['B+', 'B+'], ['B-', 'B-'], ['AB+', 'AB+'], ['AB-', 'AB-'], ['O+', 'O+'], ['O-', 'O-']], {}, { class: 'in-range' } %>
  </div>

  <div>
     <%= form.label :height, 'Height (cm)*', class: "label" %>
    <%= form.number_field :value, class: 'in-range' %>
  </div>

  <div>
    <%= form.label :weight, 'Weight (kg)*' , class: "label"%>
    <%= form.number_field :value, class: 'in-range' %>
  </div>
 </div>
  <div>
    <%= form.label :family_history, 'Family history *'  %>
    <%= form.text_field :value, class: 'input' %>
  </div>

  <div>
    <%= form.label :surgical_history,  'Surgical history' %>
    <%= form.text_field :value, class: 'input' %>
  </div>

  <div>
    <%= form.label :current_dr,  'Current doctor ' %>
    <%= form.text_field :value, class: 'input' %>
  </div>

  <div>
    <%= form.label :current_tt,  'Current treatment ' %>
    <%= form.text_field :value, class: 'input' %>
  </div>

  <div>
    <%= form.label :emergency_contact_name , 'Contact name ' %>
    <%= form.text_field :value, class: 'input' %>
  </div>

  <div>
    <%= form.label :emergency_contact_number , 'Contact number ' %>
    <%= form.text_field :value, class: 'input' %>
  </div>

  <div>
    <%= form.submit 'Add ', class: 'btn btn-primary' %>
  </div>
 <% end %>
</div>
