<h1>Add Vital Sign</h1>

<%= form_with(model:  @vital_sign, url: vital_signs_path, method: :post) do |form| %>
  <div>
    <%= form.label :label, 'Vital Sign' %>
    <%= form.select :label, [['Blood Pressure (mmHg)', 'Blood Pressure'], ['Heart Rate (bpm)', 'Heart Rate'], ['Temperature (°C)', 'Temperature'], ['Blood Glucose (mg/dl)', 'Blood Sugar']], {}, { class: 'form-control' } %>
  </div>

  <div>
    <%= form.label :value, 'Value' %>
    <%= form.text_field :value, class: 'form-control' %>
  </div>

  <div>
    <%= form.submit 'Add Vital Sign', class: 'btn btn-primary' %>
  </div>
<% end %>

<canvas data-controller="chart" data-chart-label-value="Blood Pressure" data-chart-vs-value='<%= @vital_signs.where(label: "Blood Pressure").order(created_at: :desc).take(7).reverse.pluck(:value).to_json  %>'  ></canvas>
<canvas data-controller="chart" data-chart-label-value="Heart Rate" data-chart-vs-value='<%= @vital_signs.where(label: "Heart Rate").order(created_at: :desc).take(7).reverse.pluck(:value).to_json  %>'  ></canvas>
<canvas data-controller="chart" data-chart-label-value="Temperature" data-chart-vs-value='<%= @vital_signs.where(label: "Temperature").order(created_at: :desc).take(7).reverse.pluck(:value).to_json  %>'  ></canvas>
<canvas data-controller="chart" data-chart-label-value="Blood Glucose " data-chart-vs-value='<%= @vital_signs.where(label: "Blood Sugar").order(created_at: :desc).take(7).reverse.pluck(:value).to_json  %>'  >
</canvas>
