<div class="medicines-container">

<h1 style="color: white; font-size: 28px;" class="mb-5">Medicines</h1>
<div class="medicines-form">
<%= simple_form_for @new_medicine do |form| %>
  <div class="cont" data-controller="controller">
    <div class="field">
    <%= form.label :Name, class: "lab1" %>
      <%= form.text_field :name, placeholder: "Enter name of medicine" , id:"txt"%>
    </div>

   <div class="field">
      <%= form.label :Start_date, class: "lab" %>
      <%= form.datetime_local_field :start_date, class: "inp", id: "date-started" %>
    </div>

    <div class="field">
      <%= form.label :End_date, class: "lab" %>
      <%= form.datetime_local_field :end_date, class: "inp", id: "date-finished" %>
    </div>

    <div class="field">
      <%= form.label :notes %>
      <%= form.text_area :notes %>
    </div>

    <div class="actions">
      <%= form.submit "Add Medicine", class: "add-medicine", id: "submit" %>
    </div>
  </div>
<% end %>
</div>
<ul id="mul">
  <% @medicines.reverse_each do |medicine| %>
    <li id="mil">
      <div class="medicine-infos">
        <div id="medicine_<%= medicine.id %>">
        <span class="medicine-name"><%= medicine.name.capitalize %></span>
        <span class="medicine-date">from: <%= medicine.start_date %></span>
        <span class="medicine-date">to: <%= medicine.end_date %></span>
      </div>
      <div class="medicine-actions">
        <%= form_with(model: medicine, url: medicine_path(medicine), method: :delete, remote: true, class: "delete-form") do |delete_form| %>
          <%= delete_form.submit "Delete", class: "delete-link", onclick: "return confirm('Are you sure?');" %>
        <% end %>
      </div>
      </div>
      <div>
        <div class="medicine-notes">
          <%= medicine.notes %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
</div>
