<h1><img src="/assets/med.png"> Medicines</h1>
<%= simple_form_for @new_medicine do |form| %>
  <div class="cont" data-controller="controller">
    <div class="field">
    <%= form.label :Name, class: "lab1" %>
      <%= form.text_field :name, placeholder: "Doliprane" , id:"txt"%>
    </div>

   <div class="field">
      <%= form.label :Start_date, class: "lab" %>
      <%= form.datetime_local_field :start_date, class: "inp", id: "date-started" %>
    </div>

    <div class="field">
      <%= form.label :End_date, class: "lab" %>
      <%= form.datetime_local_field :end_date, class: "inp", id: "date-finished" %>
    </div>

    <div class="field">
      <%= form.label :notes %>
      <%= form.text_area :notes %>
    </div>

    <div class="actions">
      <%= form.submit "Add", class: "btn", id: "submit" %>
    </div>
  </div>
<% end %>
<ul id="mul">
  <% @medicines.each do |medicine| %>
    <li id="mil">
      <div id="medicine_<%= medicine.id %>">
        <span class="medicine-name"><%= medicine.name %></span>
        <span class="medicine-date"><%= medicine.start_date %></span>
      </div>
      <div class="medicine-actions">
        <%= form_with(model: medicine, url: medicine_path(medicine), method: :delete, remote: true, class: "delete-form") do |delete_form| %>
          <%= delete_form.submit "Delete", class: "delete-link", onclick: "return confirm('Are you sure?');" %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
