<div   class="navbar-custom">
  <div>
    <%= link_to "/", class: "navbar-logo" do %>
      Lifeline.
    <% end %>
  </div>
  <div class="navbar-pages">
     <%= link_to "Discover Lifeline", root_path, class: "navbar-links" %>
     <%= link_to "Services", "#", class: "navbar-links" %>
     <%= link_to "About", about_path, class: "navbar-links" %>
     <%= link_to "Contact", contact_path, class: "navbar-links" %>
  </div>
  <div class="navbar-actions">
    <% if !user_signed_in? %>
        <div> <%= link_to "Sign in", new_user_session_path, class: "btn-signin" %></div>
        <div> <%= link_to "Sign up", new_user_registration_path, class: "btn-signup" %></div>
      <% else %>
        <% future_date_limit = Date.today + 7.days %>
        <% appointments = current_user.appointments  %>
        <% upcoming_appointments = appointments.select do |appointment| %>
            <% appointment_date = appointment.date  %>
            <% appointment_date > Date.today && appointment_date <= future_date_limit %>
        <% end %>
        <div data-controller="appointments" class="notifcation">
          <div data-action="click->appointments#load">
            <i  class="fa-solid fa-bell"></i>
            <span class="badge"><%= upcoming_appointments.count > 0 ? upcoming_appointments.count : ""  %></span>
          </div>
          <div id="myModal" data-appointments-target="xmodal" class="xmodal d-none">
            <div class="xmodal-content">
              <span class="closebtn" data-appointments-target="close" data-action="click->appointments#close" >&times;</span>
              <h2>Upcoming Appointments</h2>
              <ul id="upcoming-appointments-list">
                <% if upcoming_appointments.count > 0 %>
                  <% upcoming_appointments.each do |appointment| %>
                    <li>Dr.<%= appointment.doctor_name %> - <%= appointment.date.strftime("%A, %H:%M - %d %B %Y") %> </li>
                  <% end %>
                <% else %>
                  <li>No upcoming appointments</li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div> <%= link_to "Dashboard", dashboard_path, class: "btn-signup" %></div>
        <div><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn-signup" %></div>
        <div class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.photo.key.blank? %>
              <%= image_tag "logo.png", height: 40, width: 40,  class: "avatar", alt: "dropdown menu" %>
            <% else %>
              <%= cl_image_tag current_user.photo.key, height: 40, width: 40, crop: :fill,  class: "avatar", alt: "dropdown menu" %>
            <% end %>
          </a>
        </div>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        </div>
    <% end %>
  </div>
</div>
