<h1>Medical Files</h1>
<hr>
<% if @files.present? %>
  <div class="container mt-4">
     <% @files.each do |medical_file| %>
  <div class="container p-3 my-3 border">
      <p><%= medical_file.name %></p>
      <p><%= medical_file.created_at %></p>
    </div>
  <% end %>
</div>
<% end %>
<hr>
<div class="d-flex justify-content-center align-items-center">
   <button type="button" class="btn btn-primary">Add New Medical File</button>
</div>
<hr>
<div class="container-sm">
<%= simple_form_for(@file) do |f| %>
  <%= f.input :name, label: "Enter your file name" %>
  <%= f.input :date, label: "Enter your file date" %>
  <%= f.input :description, label: "File description" %>
  <%= f.input :treating_dr, label: "Treating Doctor" %>
  <%= f.input :photo, as: :file %>
  <%= f.input :photo, as: :file %>
  <%= f.input :notes, label: "Notes" %>
  <%= f.button :submit %>
<% end %>
</div>
<%= cl_image_tag @files.last.prescriptions.last.photo.key, height: 300, width: 400, crop: :fill if !@files.last.prescriptions.last.blank? %>
