<%= stylesheet_link_tag "medical_file", "data-turbo-track": "reload" %>
<div class="mfs-container" data-controller="medicalfile-form">
  <div class="mfs-header">
    <h1>Medical Files</h1>
    <div data-action="click->medicalfile-form#showform" data-medicalfile-form-target="addmedicalfilebtn" class="btn-signup">Add New Medical File</div>
  </div>
  <div class="container-sm d-none medicalform" data-medicalfile-form-target="newmedicalfile">
<%= simple_form_for(@file) do |f| %>
  <%= f.input :name, label: "Name your Medical file" %>
  <%= f.input :date, label: "Enter your file date" %>
  <%= f.input :description,  :as => :text, :input_html => { 'rows' => 5, 'cols' => 10 }, label: "File description" %>
  <%= f.input :treating_dr, label: "Treating Doctor" %>
  <%= f.input :notes, label: "Notes" %>
  <%= f.button :submit, class: "btn-signup" %>
<% end %>
</div>
  <% if @files.present? %>
    <div class="container mt-4">
      <% @files.each do |medical_file| %>
    <div class="mfs-list">
        <div><p><%= medical_file.name %></p> <p><%= medical_file.created_at %></p></div>
        <div class="mf-view">
          <%= link_to medical_file_path(medical_file.file_id), class: "" do %>
            View Medical File
            <i class="fa-solid fa-eye"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <% else %>
    <div class="msg-nomedicalfile">You have 0 Medical files.</div>
  <% end %>
</div>
