<%= stylesheet_link_tag "medical_file", "data-turbo-track": "reload" %>
<div class="mfs-container" data-controller="medicalfile-form">
  <div class="mfs-header">
    <h1 class="mfs-title">Medical Files</h1>
    <div data-action="click->medicalfile-form#showform" data-medicalfile-form-target="addmedicalfilebtn" class="add-medicalfile">
      Add New Medical File
    </div>
  </div>
  <div id="formdiv" class="container-sm d-none medicalform" data-medicalfile-form-target="newmedicalfile">
<%= simple_form_for(@file) do |f| %>
  <%= f.input :name, label: "Medical file name" %>
  <%= f.input :date, label: "Medical file date" %>
  <%= f.input :treating_dr, label: "Treating Doctor" %>
   <div class="container d-flex justify-content-center">
      <div class= "inputdiv m-3"><%= f.input_field :test_files, as: :file, multiple: true, class: "inputdiv" %> </div>
   <div class= "inputdiv m-3"><%= f.input_field :prescription_files, as: :file, multiple: true, class: "inputdiv" %> </div>
   </div>
  <%= f.input :notes, :as => :text, :input_html => { 'rows' => 5, 'cols' => 10 }, label: "Notes" %>
  <%= f.button :submit, class: "add-medicalfile longer" %>
<% end %>
</div>
  <% if @files.present? %>
    <div class="container mt-4">
      <% @files.reverse_each do |medical_file| %>
      <% qrcode = RQRCode::QRCode.new("localhost:3000/#{preview_medical_file_path(medical_file.file_id)}") %>
    <div class="mfs-list mt-4">
        <div><p style="color: black;"><%= medical_file.name.capitalize %></p> <p style="color: grey;"> Created at:  <%= medical_file.created_at %></p></div>
        <div class="mf-view">
          <%= link_to medical_file_path(medical_file.file_id), class: "" do %>
          <div class="mf-view-actions">
            <div>
              View Medical File
              <i class="fa-solid fa-eye"></i>
            </div>
          </div>
          <% end %>
           <div data-action="click->medicalfile-form#showQrcode" data-medicalfile-form-target="qrcodebtn">
                View QR Code
                <i class="fa-solid fa-eye"></i>
              </div>
            <div class="d-none" data-medicalfile-form-target="qrcode">
              <%= qrcode.as_svg( fill: "FFF", offset: 0, color: "000", shape_rendering: 'crispEdges', module_size: 2, standalone: true ).html_safe %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
  <% else %>
    <div class="msg-nomedicalfile">You have 0 Medical Files.</div>
  <% end %>
</div>
