<%= stylesheet_link_tag "medical_file", "data-turbo-track": "reload" %>

<div class="mf-container">
  <div class= "uppercontainer">
  <div class= "upperdiv">
  <div class="mf-infos">
    <%= link_to medical_files_path, class: "back-btn" do %>
      <i class="fa-solid fa-left-long"></i>
      All Medical Files
    <% end %>
  </div>
  <div class="mf-infos">
    <div>Date: <%= @file.date %></div>
  </div>
  </div>
  <div class="mf-name">
    <%= @file.name %>
  </div>
  </div>
  <div class="mf-details">
    <div class="details-infos">
      <div class="mf-title">Treating Doctor:</div>
      <div><%= @file.treating_dr %></div>
    </div>
    <div class="details-container ">
      <div class="details-section">
        <div class="mf-description ">
          <div class="mf-title">Prescriptions</div>
           <% @tests.each do |test| %>
              <% test.photos.each do |photo| %>
                <div class="picdiv d-inline-flex p-2 bd-highlight">
                 <div data-controller="medicalfile-form">
                  <div class="mf-image" >
                      <%= cl_image_tag(photo.key, height: 80, width: 80, crop: :fill, class: 'img-thumbnail',  data: { action: 'click->medicalfile-form#showImage' }) %>
                  </div>
                  <div data-medicalfile-form-target="modal" class="d-none" style="position: absolute;">
                    <%= cl_image_tag(photo.key, height: 500, width: 500) %>
                  </div>
                </div>
                </div>
              <% end %>
            <% end %>
          </div>
            <div class="mf-description">
            <div class="mf-title">Tests</div>
            <% @prescriptions.each do |prescription| %>
              <% prescription.photos.each do |photo| %>
                <div class="picdiv d-inline-flex p-2 bd-highlight">
                 <div data-controller="medicalfile-form">
                  <div class="mf-image" >
                      <%= cl_image_tag(photo.key, height: 80, width: 80, crop: :fill, class: 'img-thumbnail',  data: { action: 'click->medicalfile-form#showImage' }) %>
                  </div>
                  <div data-medicalfile-form-target="modal" class="d-none" style="position: absolute;">
                    <%= cl_image_tag(photo.key, height: 500, width: 500) %>
                  </div>
                </div>
                </div>
              <% end %>
            <% end %>
    <div>
    </div>
      </div>

    <div class="mf-description">
      <div class="mf-title">Notes</div>
      <div class="mf-description-text"><%= @file.notes %></div>
    </div>
  </div>
</div>
  </div>
</div>
